-
	pages = [
	
		{
			'name':'Главная',
			'href':'main.html'
		},
		{
			'name':'Результаты поиска',
			'href':'result.html'
		},
		{
			'name':'Каталог',
			'href':'index.html'
		},
		{
			'name':'Помощь',
			'href':'help.html'
		},
		{
			'name':'FAQ',
			'href':'FAQ.html'
		},
		{
			'name':'ЛК Приветствие',
			'href':'lk-main.html'
		},
		{
			'name':'ЛК профиль не заполнен',
			'href':'lk-profil-empty.html'
		},
		{
			'name':'ЛК профиль заполнен',
			'href':'lk-profil-full.html'
		},
		{
			'name':'ЛК заполнение профиля',
			'href':'lk-profil-edit.html'
		},
		{
			'name':'ЛК корзина',
			'href':'lk-basket.html'
		},
		{
			'name':'ЛК бронирование',
			'href':'lk-bron.html'
		},
		{
			'name':'ЛК список',
			'href':'lk-list.html'
		},
		{
			'name':'ЛК оформление заказа',
			'href':'lk-order.html'
		},
		{
			'name':'ЛК закладки',
			'href':'lk-bookmark.html'
		},
		{
			'name':'ЛК редактирование брони',
			'href':'lk-bron-edit.html'
		}
	]
	
mixin filterLine(numb,text)
	.filter-type-el
			input(id='filter#{numb}', type='checkbox', name='rr')
			label(for='filter#{numb}') 
				span
			text #{text}

mixin star()
	.filter-reting-stars
		i.fa.fa-star.active
		i.fa.fa-star.active
		i.fa.fa-star.active
		i.fa.fa-star
		i.fa.fa-star

mixin place(img,country,name,days,val,type)
	.main-place-el-filter
	.main-place-el-img(style="background-image: url(#{img})")
	.main-place-el-content
		.main-place-country #{country}
		.main-place-name #{name}
		.main-place-days #{days}
		.main-place-cost
			.main-place-cost-value
				span.main-place-from от 
				span.main-place-val #{val}
				span.main-place-rub ₽
			.main-place-cost-text
				span.main-place-text #{type}
		//- .main-place-cost
		//- 	.main-place-cost-value
		//- 		span.main-place-from от 
		//- 		span.main-place-val 16494
		//- 		span.main-place-rub ₽
		//- 	.main-place-cost-text
		//- 		span.main-place-text отель + перелет

mixin mark(text,val)
	.result-mark-el
		.result-mark-name #{text}
		.result-mark-row
			.result-mark-value(data-mark= '#{val}') #{val}
			.result-mark-col 